.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.spacebetween{
    justify-content: space-between;
}
.uppercase{
    text-transform: uppercase;
}
.semibold{
    font-weight: bolder;
}
.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}
.search{
    width: 24vw;
    padding: 7px 17px;
    border: 0.5px solid grey;
    border-radius: 5px;
    background-color: rgb(235, 235, 242);
}
.transition{
    transition: 100ms;
}
.flex-wrap{
    flex-wrap: wrap;
}